body {
    font-family: outfit, Arial;
}

ul {
    list-style: none;
    display: flex;
    gap: 60px;
    margin: 0;
    padding: 0;
}

li:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.meet:hover {
    transform: scale(1.05);         /* Enlarges the box */
    transition: transform 0.3s ease-in-out;
}

.wanna:hover {
    transform: scale(1);          /* Enlarges the text */
    transition: transform 0.3s ease-in-out;
}
nav {
    width: 80%;
    height: 90px;
    margin: auto;
    background-color: white;
    border-radius: 20px;
    margin-top: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    display: flex;
}

.nav {
    display:flex;
    width: 100%;
    justify-content: center;     
    align-items: center;  
    }

.intro {
    width: 80%;
    margin: auto;
    height: 600px;
}

h1 {
    font-size: 150px;
    text-align: center;
    margin-top: 100px;
}

.meet {
    background-color: rgb(255, 132, 0);
    color: white;
    width: 130px;
    height: 30px;
    display: flex;            
    justify-content: center;     
    align-items: center;      
    border-radius: 10px;
    margin-left: auto;
}

* {
    box-sizing: border-box;
  }
  