.head {
    width: 53vh;
    
}

.heading {
    display: flex;
    align-items: center;
    background-color: red;
    height: 30px;
    padding: 0px;
    justify-content: space-between;
}

#meet {
    border-radius: 5px;
    border: solid black 2px;
    width: 100px;
    height: 30px;
}

html {
    font-family: "outfit", sans-serif;
    font-weight: 700;
    width: 80%;
    margin: auto;
    font-size: 24px;
}